[submodule "Diplom_linux_driver"]
	path = Diplom_linux_driver
	url = https://github.com/Popov-Dmitriy-Ivanovich/Diplom_linux_driver.git
[submodule "Diplom_ui"]
	path = Diplom_ui
	url = https://github.com/Popov-Dmitriy-Ivanovich/Diplom_ui.git
[submodule "Diplom_cmd"]
	path = Diplom_cmd
	url = https://github.com/Popov-Dmitriy-Ivanovich/Diplom_cmd.git
[submodule "Diplom_auth"]
	path = Diplom_auth
	url = https://github.com/Popov-Dmitriy-Ivanovich/Diplom_auth.git
[submodule "Diplom_telegram"]
	path = Diplom_telegram
	url = https://github.com/Popov-Dmitriy-Ivanovich/Diplom_telegram.git
